#layout {
  --inputs-height:  5.5rem;
  height: 100vh;
  width: 100vw;
  grid-template-rows: var(--inputs-height) auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "inputs"
    "images";
}

#layout #inputs {
  grid-area: inputs;
}

#layout #images {
  grid-area: images;
  overflow-y: auto;
  height: calc(100vh - var(--inputs-height));
  background-color: hsla(var(--bg-dull), 0.7);
}

#images img {
  border-radius: var(--border-radius);
  width: 100%;
  object-fit: cover;
  box-shadow: var(--shadow-sm);
}

.pb-1\/2 {
  padding-bottom: calc(var(--space) / 2);
}

.secondary-inputs {
  padding: 0 1rem;
}

.secondary-inputs input {
  width: 4rem;
  height: 100%;
}

#actions {
	gap: 0.1rem;
}

button {
	border: none;
  padding: calc(var(--space) * 0.8) !important;
}

button:hover {
  background-color: hsla(var(--bg-dull), 0.5);
}

:is(button, input, textarea, select) {
	background-color: hsla(var(--bg-dull), 0.3);
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: var(--space);
  height:  calc(100vh - var(--inputs-height));
}

.gallery a {
  background-color: hsla(var(--bg-dark), 0.1);
}

#notification {
  position: fixed;
  bottom: var(--space);
  left:  var(--space);
  background-color: hsl(var(--bg-dark));
  color: white;
  padding: calc(var(--space) * 0.8);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
}
